body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 10px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}



#outer {
    width: 600px;
    margin-top:0;
    margin: 0 auto;    
}

.player {
  cursor: pointer;
  padding: 5px;
  height: 70px;
  margin-bottom: 20px;
}

.player .percent {
  background: rgba(255,0,0,0.2);
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.player .name {
  font-weight: bold;
  margin-left: 75px;
}

.player.selected {
  background-color: yellow;
}

.player .bars {
  position: relative;
  margin-top: 5px;
  margin-left: 75px;
}

.player .bars .bar {
  position: absolute;
  left: 0px;
  top: 0px;
}

.player .bars .goal {
  border-right: solid 2px black;
  border-left: solid 2px black;
  background: rgba(0,255,0, 0.5);
  height: 24px;
  top: -2px;
}

.player .percent .ok {
  display: none;
  color: green;
}

.player .percent .not-ok {
  color: red;
  font-size: 10px;
}

.player.goal-met .percent {
  background: rgba(0,255,0,0.2);
}

.player.goal-met .percent .ok {
  display: block;
}

.player.goal-met .percent .not-ok {
  display: none;
}

.player.goal-met .bars .result {
  background-color: green;
}

.player .bars .result {
  height: 20px;
  background-color: red;
}
